# Data understanding

# Load the data

In [2]:
%run ./0-loading_the_data_define_variables.ipynb

# Columns and data size discovery

In [67]:
columns = df.columns
number_features = df.shape[1]
number_records = df.shape[0]

print(f"The number of feartures is: {number_features}.")
print('-----------------------------------------------')
print(f"The number of records is {number_records}")
print('-----------------------------------------------')
print(f"The list of features are: {list(columns)}")

The number of feartures is: 13.
-----------------------------------------------
The number of records is 323118
-----------------------------------------------
The list of features are: ['ID', 'name', 'category', 'main_category', 'currency', 'deadline', 'goal', 'launched', 'pledged', 'state', 'backers', 'country', 'usd pledged']

# Data type exploration

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323118 entries, 0 to 323749
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             323118 non-null  int64
 1   name           323114 non-null  object
 2   category       323118 non-null  object
 3   main_category  323118 non-null  object
 4   currency       323118 non-null  object
 5   deadline       323118 non-null  object
 6   goal           323118 non-null  object
 7   launched       323118 non-null  object
 8   pledged        323118 non-null  object
 9   state          323118 non-null  object
 10  backers        323118 non-null  object
 11  country        323118 non-null  object
 12  usd pledged    319328 non-null  object
dtypes: int64(1), object(12)
memory usage: 34.5+ MB

In [10]:
for i in df.columns:
    print(i, '-->', df[i].nunique())

ID --> 323750
name --> 321612
category --> 770
main_category --> 120
currency --> 37
deadline --> 294813
goal --> 8188
launched --> 322798
pledged --> 55598
state --> 410
backers --> 3592
country --> 162
usd pledged --> 94376

In [38]:
df['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended', '4262', '3984', '525', '0', '3035', '3273', '590',
       '23924', '12306', '13675', '2', '4690', '4488.01', '687', '450',
       '16185', '80', '1495', '20', '14309.36', '2011-06-04 01:17:48',
       '8542', '3363', '950', '1800.5', '352', '1320', '18', '2161',
       '2016-06-28 21:36:59', '331', '17861', '1', '2630', '1085', '3711',
       '103', '8609.6', '312', '11044', '5600.65', '630', '1010', '178',
       '2530', '3671', '65', '5', '4451', '16', '2000', '377', '125',
       '6169', '90', '765', '218.5', '1850', '166', '2107', '63', '10',
       '3300', '306', '13', '400', '7703', '650', '800', '4287', '1056',
       '5940', '45', '1827', '10890.45', '245', '276', '200', '30', '6',
       '797', '6126', '175', '12201', '3605.13', '1200', '325', '2632',
       '7271', '46', '2016-02-18 21:40:23', '465', '9430.8', '2308',
       '310', '7470', '2759', '9857.8', '6453', '6189', '6093', '51',
       '860', '6442', '390', '1595', '1763.47', '130', '11315.5', '25',
       '3141', '218.75', '1700', '504', '641', '100', '2331', '763',
       '115', '255', '5656.43', '50', '514', '3285.11', '109', '251',
       '1230', '1600', '890', '1661', '20223', '171', '5010', '157',
       '381', '3320', '1322', '1403', '14032.77', '191', '3280',
       '6983.18', '575', '1404', '55', '900', '477', '320', '2312',
       '4415', '14159', '26', '1400', '9500', '24780', '235', '270',
       '3333', '500', '37', '6207', '202', '1397', '27777', '106', '15',
       '1421', '971', '2016-02-22 21:57:30', '70', '1035', '258', '1146',
       '6323', '8', '7554', '422.38', '8047', '278', '1191', '4417',
       '110', '343', '640', '41', '8494', '130.16', '180', '15816', '36',
       '35723', '1753', '86', '20000', '1301', '7542', '10564', '345',
       '7839', '506', '7492', '6696', '157323.21', '21', '301', '4354',
       '1669', '846', '239', '2338', '485', '3288', '145', '5275.01',
       '9210.69', '33.06', '741', '150', '35', '30112', '9337', '936',
       '15096', '165', '360', '1327.89', '1111.11', '5425.64', '17169',
       '9951', '81', '451', '410', '721', '498', '85', '938', '2614',
       '2503', '710', '2927', '5556', '290', '38', '1181', '27660',
       '9187', '2053', '118', '2058', '475', '1731', '516', '791', '6790',
       '300', '497', '8084', '244321', '25651.99', '515', '625', '20658',
       '6972.6', '1900', '31', '201', '2721', '2742', '31657', '75',
       '2408', '7562', '170', '751', '1598', '490', '3495', '40', '1822',
       '4685', '7000.58', '3660', '46653', '2290', '3065.7', '1295',
       '2845', '17350', '29', '187', '12484', '225', '31813', '97',
       '11558', '2718', '535', '3501', '2015-09-08 22:08:39', '876',
       '700', '5831', '1665', '2571.31', '316', '5797', '63.01', '2142',
       '38451', '15361', '5621', '3185', '8040', '2013-01-03 03:45:14',
       '39', '365', '140.01', '11565', '6203', '253', '755', '1270',
       '655', '260', '1756', '12', '95', '22', '123', '4507', '52670',
       '8253', '4367', '1410', '621', '1366', '2531', '445', '75000', '7',
       '384', '1690', '6430', '6091', '2015-10-10 01:00:00', '1685',
       '396', '3036', '433', '15665', '3041', '2015-01-28 13:53:56',
       '10770', '615', '35.01', '2375', '174', '856', '52', '266', '4150',
       '505', '1296', '82', '8157', '1342', '722', '250', '12590',
       '7253.01', '850', '692', '109301.56', '28751.5', '560', '3075',
       '9748', '2398', '2016-02-15 17:24:27', '8260', '533', '2337',
       '160', '111307.22', '19224', '7326.46', '5661', '2867', '1100',
       '1520', '135', '2026', '1577', '545', '2356', '11050', '865',
       '7281.1', '296', '61', '179', '2501', '2634'], dtype=object)

## Conlclusion

- The 'ID' and 'name' columns are not necessary for the ML aproach since they represent the UI
- 'deadline' and 'launched' columns should be converted to datetime type
- 'backers', 'usd_pledged', 'goal', 'pledged' columns should be converted to float
- By taking alook at the unique values of state, I notice that there is 6 valid state and others are typo, but in thisanalysis we are interested only on 2 valid state: sucessful and fail. So we need to filter the data and keep only records with successful and fail
- 'state', 'country', 'currency', 'main_category', 'category' should be converted into numerical variable

# Check for duplicated rows

In [5]:
df.duplicated().any()

False

## Conclusion

-There is no duplicated records.

#  Missing data exploration

In [7]:
df.isnull().sum().sort_values(ascending=False)

usd pledged       3790
category             5
name                 4
ID                   0
main_category        0
currency             0
deadline             0
goal                 0
launched             0
pledged              0
state                0
backers              0
country              0
dtype: int64

## Conclusion

- 'usd_pledged' variable has 3790 missing values. 
- 'category' variable has 5 missing values.
- 'name' variable has 4 missing values.

# Check the validity and quality of the data

### Validity 1: USD currency and used_pledge

In [12]:
filtered_df_currency = df[(df['currency']=='USD')& (df.pledged!=df['usd_pledged'])]
filtered_df_currency#[filtered_df_currency.state=='successful']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged
27,1000117861,Ledr workbook: one tough journal!,Product Design,Design,USD,2016-10-08 02:00:00,1000.0,2016-09-07 13:14:26,47266.0,successful,549,US,11253.0
62,1000261018,Diposta - liberating people from their postal ...,Web,Technology,USD,2016-08-23 13:18:36,100000.0,2016-07-24 13:18:36,141.0,failed,3,US,100.0
93,1000422671,Titanium EDC Bottle Opener,Product Design,Design,USD,2016-11-20 16:23:31,500.0,2016-10-21 16:23:31,156.0,failed,4,US,1.0
103,1000481607,Alpha Omega E.P.,Metal,Music,USD,2016-09-30 22:34:26,1000.0,2016-09-05 22:34:26,472.0,failed,13,US,0.0
154,1000710630,Our Shared Stories: An Afghan Diary,Anthologies,Publishing,USD,2016-08-20 16:22:04,7500.0,2016-07-06 16:22:04,9500.0,successful,86,US,880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
323593,999032836,Aaron Unthank's Solo Recording Project,Music,Music,USD,2016-08-20 15:59:02,10000.0,2016-07-21 15:59:02,10465.0,successful,134,US,840.0
323608,999120006,In The Ring,Shorts,Film & Video,USD,2016-12-01 19:15:04,12000.0,2016-11-01 18:15:04,12206.0,successful,152,US,3676.0
323610,999133026,Kuña: documental sobre la mujer paraguaya,Documentary,Film & Video,USD,2016-08-14 00:29:00,10000.0,2016-07-13 01:58:44,10588.0,successful,181,US,350.0
323680,999587299,Arcane Sally & Mr. Steam #2,Comic Books,Comics,USD,2016-09-19 08:59:00,1500.0,2016-08-26 01:09:58,6771.0,successful,285,US,1617.0
323713,999780798,Green City Times,Web,Journalism,USD,2016-08-28 05:27:43,5000.0,2016-07-29 05:27:43,11.0,failed,3,US,0.0

### Conclusion

The 'usd_pludged' column value should be equal to 'pledged' value when the 'currency' value is equal to USD

### Validity 2: successful project versus usd_pledged and goal

In [15]:
df[((df.state=='successful')& (df['usd_pledged'].astype('float')>=df.goal.astype('float')))]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000.0,2016-02-26 13:38:27,52375.00,successful,224,US,52375.000000
5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21 18:30:44,1000.0,2014-12-01 18:30:44,1205.00,successful,16,US,1205.000000
10,100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08 06:42:58,12500.0,2013-03-09 06:42:58,12700.00,successful,100,US,12700.000000
16,1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17 14:11:32,250.0,2012-08-02 14:11:32,250.00,successful,7,US,250.000000
18,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30 07:06:11,20000.0,2013-11-25 07:06:11,34268.00,successful,624,US,34268.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
323724,999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03 19:53:50,10000.0,2014-09-03 19:53:50,13861.50,successful,413,US,13861.500000
323731,999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03 13:04:14,5000.0,2015-11-03 13:04:14,5579.00,successful,103,US,5579.000000
323735,999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15 06:59:00,3500.0,2015-11-23 07:33:14,6169.00,successful,120,US,6169.000000
323737,999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30 19:03:00,950.0,2013-10-18 21:35:04,1732.02,successful,31,US,1732.020000
323741,999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22 00:00:16,5000.0,2014-02-20 01:00:16,5501.00,successful,78,CA,5019.920882

### Conclusion

If my understanding of the topic is right, then if the state of the project is successful then the usd_pledged should be greater or equal to the goal.!

### Validity 3: Check if the launched date is before the deadline

In [57]:
df[df.launched.apply(pd.to_datetime) >= df.deadline.apply(pd.to_datetime)]

Empty DataFrame
Columns: [ID, name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged]
Index: []

## Conclusion

All the records have launched datetime before the deadline --> there is no wrong information in terms of datetime.

### Validity 4: successful state is valid when pledged is greater than goal!

In [7]:
df = df[df.apply(is_valid_state, axis=1)]

# Create an instance of the ColumnTypeConverter
converter = ColumnTypeConverter(df)
# Convert the columns to the specified data types
converter.convert_to_int(COLUMNS_CONVERT_TO_INT)
converter.convert_to_float(COLUMNS_CONVERT_TO_FLOAT)
converter.convert_to_datetime(COLUMNS_CONVERT_TO_DATETIME)


filtered = df[((df.pledged>df.goal))]
filtered[filtered.state=='failed']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged
14437,1085047405,"""Balance""",Jazz,Music,USD,2013-04-04 10:55:56,23000.0,2013-03-05 10:55:56,23020.01,failed,141,US,23020.01
50150,1297794474,Music Empowers - A Day with the Accende Ensemble,Classical Music,Music,USD,2012-01-04 21:32:00,3000.0,2011-11-07 15:20:24,3087.50,failed,20,US,3087.50
185267,2103203254,The new face of Canadian Science Fiction,Fiction,Publishing,USD,2010-05-16 05:59:00,10000.0,2010-03-18 04:35:31,10797.00,failed,66,US,10797.00
255862,59246799,Key Wrench - Unlock Your Life!,Product Design,Design,USD,2013-10-04 05:42:10,6000.0,2013-08-24 05:42:10,6183.00,failed,208,US,6183.00

## Conclusion

We have filtered the data to have all records that have the condition of pledged > goal. We are expecting to have the state equal to Sucessful for all the records. But there is 4 records having failed as state!